[phases.setup]
packages = [
    "python312",
    "cairo",
    "pango",
    "gdk-pixbuf",
    "gobject-introspection",
    "glib",
    "libffi",
    "fontconfig",
    "libxml2",
    "libxslt",
    "freetype",
    "harfbuzz"
]

[phases.install]
pre = "rm -rf /root/.cache/pip"

[phases.build]
run = '''
python -m venv /opt/venv
. /opt/venv/bin/activate
pip install --upgrade pip
pip install -r requirements.txt
'''

[phases.start]
run = '''
. /opt/venv/bin/activate
gunicorn app:app -b 0.0.0.0:8080
'''
