Flask==2.3.3
Flask-MySQLdb==1.0.1
mysqlclient==2.1.1
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.21
Werkzeug==2.3.7
Jinja2==3.1.2
itsdangerous==2.1.2
click==8.2.1
xhtml2pdf==0.2.7
reportlab==4.0
gunicorn==23.0.0
python-dotenv==1.0.0
PyMySQL==1.1.0
