<nav id="sidebar" class="sidebar-wrapper">

  <!-- Sidebar profile starts -->
  <div class="sidebar-profile">
    <img src="{{ url_for('static', filename='images/user6.png') }}" class="img-shadow img-3x me-3 rounded-5"
      alt="Photo utilisateur">
    <div class="m-0">
      <h5 class="mb-1 profile-name text-nowrap text-truncate">Nick Gonzalez</h5>
      <p class="m-0 small profile-name text-nowrap text-truncate">Infirmier</p>
    </div>
  </div>
  <!-- Sidebar profile ends -->

  <!-- Sidebar menu starts -->
  <div class="sidebarMenuScroll">
    <ul class="sidebar-menu">

      <li class="treeview active current-page">
        <a href="#!">
          <i class="ri-stethoscope-line"></i>
          <span class="menu-text">Infirmier</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="doctor-dashboard.html" class="active-sub">Tableau de bord</a></li>
          <li><a href="doctors-profile.html">Profil</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#!">
          <i class="ri-heart-pulse-line"></i>
          <span class="menu-text">Patients</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="patients-list.html">Liste des patients attribués</a></li>
          <li><a href="edit-patient.html">Modifier patient</a></li>
          <li><a href="admissions.html">Admissions</a></li>
        </ul>
      </li>

      <li>
        <a href="gestion-traitements.html">
          <i class="ri-syringe-line"></i>
          <span class="menu-text">Gestion des traitements</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="ri-chat-3-line"></i>
          <span class="menu-text">Messagerie</span>
        </a>
      </li>

      <li class="treeview">
        <a href="#!">
          <i class="ri-brain-line"></i>
          <span class="menu-text">Accès aux modules IA</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="surveillance-patients.html">Surveillance des patients</a></li>
        </ul>
      </li>

      <li>
        <a href="liste-appels-ambulance.html">
          <i class="ri-phone-line"></i>
          <span class="menu-text">Liste des appels ambulance</span>
        </a>
      </li>

      <li class="treeview">
        <a href="#!">
          <i class="ri-hotel-bed-line"></i>
          <span class="menu-text">Chambre</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="chambres-disponibles.html">Chambres disponibles</a></li>
          <li><a href="chambres-allouees.html">Chambres allouées</a></li>
          <li><a href="chambres-distribuees.html">Chambres distribuées</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#!">
          <i class="ri-group-2-line"></i>
          <span class="menu-text">Congé & Présence</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="presence-assiduite.html">Présence & assiduité</a></li>
          <li><a href="conge-personnel.html">Congé personnel</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#!">
          <i class="ri-money-dollar-circle-line"></i>
          <span class="menu-text">Salaires</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="fiche-paie.html">Fiche de paie</a></li>
        </ul>
      </li>

      <li>
        <a href="galerie.html">
          <i class="ri-image-line"></i>
          <span class="menu-text">Galerie</span>
        </a>
      </li>

      <li>
        <a href="actualites.html">
          <i class="ri-news-line"></i>
          <span class="menu-text">Actualités et mises à jour</span>
        </a>
      </li>

      <li>
        <a href="parametres.html">
          <i class="ri-settings-5-line"></i>
          <span class="menu-text">Paramètres</span>
        </a>
      </li>

      <li class="treeview">
        <a href="#!">
          <i class="ri-login-circle-line"></i>
          <span class="menu-text">Comptes</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="login.html">Connexion</a></li>
          <li><a href="logout.html">Déconnexion</a></li>
          <li><a href="forgot-password.html">Mot de passe oublié</a></li>
          <li><a href="reset-password.html">Réinitialiser mot de passe</a></li>
        </ul>
      </li>

      <li>
        <a href="#!">
          <i class="ri-ticket-line"></i>
          <span class="menu-text">Badge</span>
          <span class="badge border border-primary text-primary ms-auto">Chip</span>
        </a>
      </li>

    </ul>
  </div>
  <!-- Sidebar menu ends -->

  <!-- Sidebar contact starts -->
  <div class="sidebar-contact">
    <p class="fw-light mb-1 text-nowrap text-truncate">Contact d'urgence</p>
    <h5 class="m-0 lh-1 text-nowrap text-truncate">0987654321</h5>
    <i class="ri-phone-line"></i>
  </div>
  <!-- Sidebar contact ends -->

</nav>