{% extends "gestionaire_stock/base_gestionaire_stock.html" %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-danger shadow p-4 rounded">
        <h4 class="mb-3"> Confirmation</h4>
        <p>
            Voulez-vous vraiment supprimer le produit 
            <strong>paracetamol</strong> 
            (Réf : cla) de l’inventaire ?
        </p>

        
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-trash"></i> Oui, supprimer
            </button>
        </form>
    </div>
</div>
{% endblock %}
